h1{
  font-size:36px;
  padding-left: 16px;
  border-left:30px solid gold;
  color:#eee;
  background:chocolate;
  
}

table,h2 table,
td {
  border:1px solid #333;
}

thead,
thead,tfoot{
  background-color: #333;
  color:#fff}

